<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Student</title>
</head>
<body>
    
    <h1>Register Student</h1>
    <form action="/registered" method="POST">
        <label>Name</label>
        <input type="text" name="name">

        <label>Age</label>
        <input type="number" min =1 name="age">

        <label>Email</label>
        <input type="email" name="email">

        <label>Password</label>
        <input type="password" name="password">

        <label>Note Book</label>
        <input type="text" name="notebook">

        <input type="submit" name="submit" value="SUBMIT">
    </form>
    
    <br>
    <a href="/login">Login</a>

    <br>

    {{msg}}
    
</body>
</html>